body{
	font-family: Arial;
	color: white;
	background-color:black;
}
div {
    text-align: center;
  }
@media screen and (max-width: 1024px ){
	
	#logo{
		font-size: 30px;
		font-weight: bold;
		padding-right: 50px;
	}

	#div{
		width: 500px;	
		height: 500px;
	}	
}

@media screen and (max-width: 768px ){
	
	#logo{
		font-size: 28px;
		font-weight: bold;
		padding-right: 50px;
	}
	
	#picture{
		width: 400px;	
		height: 380px;
	}

	@media screen and (max-width: 425px ){
		
		#logo{
			font-size: 20px;
			font-weight: bold;
			padding-right: 10px;
			margin-left: 10px;
		}
		
		#picture{
			width: 250px;	
			height: 200px;
		}
	}

	@media screen and (max-width: 375px ){
		#picture{
			width: 220px;	
			height: 250px;
		}

	@media screen and (max-width: 320px ){

		#picture{
			width: 150px;	
			height: 200px;
		}
		}
	}
}